@model Project.Models.TransactionsModel

@{
    ViewData["Title"] = "Payment";
}

<h1>Transaction Details</h1>
<h3>All Items</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Cost
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var list_element in ViewBag.Cart)
        {
            <tr>
                <td>
                    @list_element.item.Name
                </td>
                <td>
                    @list_element.item.Selling_Price
                </td>
                <td>
                    @list_element.cartItem.Quantity
                </td>
                <td>
                    @list_element.cartItem.Cost
                </td>
            </tr>
        }
    </tbody>
</table>

<table cellspacing="20">
    <tr>
        <td><h5>Total Cost</h5></td>
        <td>@Model.Cost</td>
    </tr>
    <br />
    <tr>
        <td><h5>Payment</h5></td>
        <td>@Model.Payment</td>
    </tr>
    <br />
    <tr>
        <td><h5>Changed Returned</h5></td>
        <td>@ViewBag.Change</td>
    </tr>
    <br/>
    <tr>
        <td><h5>User Id</h5></td>
        <td>@Model.User_id</td>
    </tr>
</table>

<hr />

<div>
    <a asp-action="Index">Return to Transactions</a>
    <br />
    <a asp-action="Index" asp-controller="Checkout">Go to CheckOut</a>
</div>
