@model IEnumerable<Project.Models.TransactionsModel>

@{
    ViewData["Title"] = "Search";
}

<h1>Search Transaction</h1>

<form asp-action="Search">
    <label>Select Date</label>
    <input type="date" name="date" />
    <input type="submit" value="Seach" class="btn btn-primary" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction_date)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-action="Index">Back to List</a>