@model IEnumerable<Project.Models.ProductsModel>

@{
    ViewData["Title"] = "Search";
}

<h1>Search Product</h1>
<br />
<form asp-action="Search">
    <label>Enter Product Name</label>
    <input type="text" name="product_name" />
    <input type="submit" value="Seach" class="btn btn-primary" />
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Selling_Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Selling_Price)
                </td>
                <td>
                    <a asp-action="SearchRoute" asp-route-id="@item.Id">Add to Cart</a> |
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index">Back to List</a>
