@model Project.Models.ProductsModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Product</h1>

<h3>Are you sure you want to delete @Model.Name?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Buying_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Buying_Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Selling_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Selling_Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profit_Margin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profit_Margin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entrydate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entrydate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department_id)
        </dd>
    </dl>
    
    <form asp-action="DeleteProduct">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
